.form-control {
    margin-top: 0;
}

.add-btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-btn-wrap button {
    width: 200px;
    margin-top: 15px;
}

img {
    width: 250px;
}